<div class="hero-portrait">
  <span class="cards-in-hand">{{player.hand.cards.length}} cards in hand</span>
  <button id="card-{{hero.heroAbility.name}}" 
    (click)="selectHeroAbility()" 
    title="{{hero.heroAbility.description}}" 
    class="hero-ability"
    [ngStyle]="{'background': 'url(/assets/hearthstone/'+hero.heroAbility.imageUrl+')'}"
    [ngClass]="{'active-card': hero.heroAbility == cardBeingPlayed}">
  </button>
  <button id="card-{{hero.name}}" 
    (click)="selectHero()" 
    title="{{hero.description}}" 
    class="hero"
    [ngStyle]="{'background': 'url(/assets/hearthstone/'+hero.imageUrl+')'}">
    <span *ngIf="message" class="speech">{{message}}</span>
  </button>
  <div class="mana-bar">
    <div *ngFor="let manaCrystal of mana" 
          class="mana-crystal"
          [ngClass]="{'crystal-full' : manaCrystal == 1, 
                      'crystal-depleted' : manaCrystal != 1}">
  </div>
  </div>
</div>