<h3>Card game</h3>
<div class="ai-playback row" *ngIf="actions">
  <div *ngFor="let action of actions" class="col-lg-3">
    <div class="cardPlayed">
        <p>{{opponent.hero.name}} {{action.targets.length ? 'played' : 'summoned'}}</p>
        <button title="{{action.cardPlayed.description}}" [ngStyle]="{'background': 'url(/assets/hearthstone/'+action.cardPlayed.imageUrl+')'}" class="play-back-card"></button>
    </div>
    <div class="targets" *ngIf="action.targets.length">
      <p>On : </p>
      <button *ngFor="let target of action.targets" 
        [ngStyle]="{'background': 'url(/assets/hearthstone/'+target.imageUrl+')'}" 
        title="{{target.description}}" 
        [ngClass]="{'dead-target': target.currentHealth != undefined && target.currentHealth <= 0}"
        class="play-back-card"></button>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="endAiTurn()" title="Autocomplete in {{autoCompleteSecondsRemaining}} seconds...">End AI Turn</button>
  </div>
</div>
<div class="row" style="background: red;">
  <hero-portrait [player]="opponent" 
    [cardBeingPlayed]="cardBeingPlayed" 
    (heroSelected)="activateCard($event)" 
    (heroAbilitySelected)="'ignored'">
  </hero-portrait>
</div>
<monsterlane [monsters]="opponent.creatureRow" 
  [cardBeingPlayed]="cardBeingPlayed"
  [creaturesPlaceable]="currentPlayer == opponent" 
  (placeCreature)="addCreatureToHand($event)"
  (creatureSelected)="activateCard($event)"></monsterlane>
<monsterlane [monsters]="player.creatureRow" 
  [cardBeingPlayed]="cardBeingPlayed"
  [creaturesPlaceable]="currentPlayer == player"
  (placeCreature)="addCreatureToHand($event)"
  (creatureSelected)="activateCard($event)"></monsterlane>
<div class="row" style="background: blue;">
  <hero-portrait [player]="player" 
    [cardBeingPlayed]="cardBeingPlayed" 
    (heroSelected)="activateCard($event)" 
    (heroAbilitySelected)="activateCard($event)">
  </hero-portrait>
</div>
<div class="row">
  <div class="cards">
    <button [disabled]="currentPlayer != player" class="btn btn-lg btn-danger" (click)="startNewRound()">End turn</button>
    <button *ngFor="let card of player.hand.cards" 
      id="card-{{card.name}}"
      (click)="activateCard(card)"
      title="{{card.description}}"
      class="card"
      [ngClass]="{'flash': card.isFlash, 'too-expensive-card': card.cost > currentPlayer.hand.currentMana, 'active-card': card == cardBeingPlayed}"
      [ngStyle]="{'background': 'url(/assets/hearthstone/'+card.imageUrl+')'}">
    </button>
    <button *ngIf="cardBeingPlayed" class="btn btn-danger" (click)="cardBeingPlayed = undefined"><span class="glyphicon glyphicon-cancel"></span>Cancel cast</button>
  </div>
</div>