.console textarea {
    color:lime; 
    background-color:black
}
.appBtnDisabled {
    border: 1px solid red;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    color: red;
    cursor:not-allowed;
}

.glyphicon-question-sign{
    color : #31708f;
}