<table class="table table-hover">
  <thead>
    <tr>
      <th style="column-width: 4">
        <h3>Upgrades</h3>
      </th>
    </tr>
    <!-- <tr>
      <th>{{progressionTracker.keyboardUpgradeLevel}}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </thead>
  <tbody>
    <tr *ngFor="let tierUpgrades of getTierUpgrades">
      <td *ngFor="let upgrade of tierUpgrades">
        <button
          [disabled]="upgrade.cost > balance || upgrade.isBought" 
          [ngClass]="{'upgradeBtnDisabled':upgrade.cost > balance && !isBought, 
                      'upgradeBtnPurchased':upgrade.isBought,
                      'upgradeAvailable':!upgrade.isBought && !(upgrade.cost > balance)}" 
          style="min-width: 100px; min-height: 100px" 
          [ngStyle]="{'background': 'url('+upgrade.imageUrl+')'}" 
          title="{{upgrade.cost > balance && !upgrade.isBought 
          ? upgrade.title + '.\nYou need a higher balance for this purchase.' 
          : upgrade.title}}" 
          (click)="buyUpgrade(upgrade)">$ {{upgrade.cost}}</button>
      </td>
    </tr>
  </tbody>
</table>