.upgradeBtnDisabled {
    border: 1px solid gold;
    -webkit-filter: hue-rotate(-45deg);
    filter: hue-rotate(-60deg);
    color: gold;
    cursor:not-allowed;
}

.upgradeBtnPurchased {
    -webkit-filter: grayscale(0.7);
    filter: grayscale(0.7);
    color: greenyellow;
    cursor:not-allowed;
}

.upgradeAvailable {
    color: gold;
    font-weight: bold;
}