.opponent-image{
    width: 100px;
    height: 100px;
    background: url(/assets/perudo/villain.png);
    background-size: contain;
    margin-left:25px;
}

.opponent-name{
    padding-top:60px;
}

.mood{
    float:left;
    padding-left:20px;
}

.die{
    width: 50px;
    height: 50px;
    background-size: contain !important;
    border-radius: 7px;
}

.die.mystery{
    background: url(/assets/perudo/unknown-die.png);
}

.die-count{
    box-shadow: 0px 0px 20px #5F5;
    border: 1px double #1a1;
}

.rolling{
    box-shadow: 0px 0px 50px #5F5;
}

.cup-lost-die{
    box-shadow: 0px 0px 100px #C44;
}

.reroll{
    animation-name: example;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.cup{
    border-radius:100px;
    border-width: 2px;
    border-style: double;
    width:150px;
    height: 150px;
    padding: 23px;
}