<h2>Dice game</h2>
<div class="row opponents">
  <h3>Opponents</h3>
  <div *ngFor="let opponent of app.players">
    <div *ngIf="opponent != player" class="col-xs-3">
      <button class="opponent-image" [ngClass]="{'rolling': opponent != action?.playerWhoLostDie
        && (opponent.isRolling || opponent == app.activePlayer)}" 
        title="A smug gambler, defeat him/her!">
        <p class="opponent-name">{{opponent.name}}</p>
      </button>
      <div class="cup" [ngClass]="{'cup-lost-die': opponent == action?.playerWhoLostDie}" title="Your opponent's dice pool">
          <button *ngFor="let die of opponent.dice" class="die" [ngClass]="{'mystery': !isBullshit, 'die-count': bullshittedBid && (die.value == bullshittedBid.value || die.value == 1)}"
            title="'{{isBullshit? die.value : '?'}}'" disabled [ngStyle]="{'background': isBullshit ? 'url(/assets/perudo/die-'+die.value+'.png)' : ''}">
          </button>
          <p class="mood">({{opponent.mood}})</p>
      </div>
      <p style="padding-top: 5px" *ngIf="app.previousPlayer == opponent && action">{{opponent.name}} took action : {{action?.type}}</p>
    </div>
  </div>
</div>
<div class="row bid">
  <div class="col-xs-6">
    <h3>Current bid</h3>
    <div class="current-bid" *ngIf="app?.currentBid" title="The current bid, is it right? Do you dare to raise it?">
        <button *ngFor="let die of dice(app.currentBid)" class="die" title="'{{die.value}}'" disabled
          [ngStyle]="{'background':'url(/assets/perudo/die-'+die.value+'.png)'}">
        </button>
    </div>
    <div class="bullshitted-bid" *ngIf="bullshittedBid">
        <button *ngFor="let die of dice(bullshittedBid)" class="die"
          title="'{{die.value}}'" disabled
          [ngStyle]="{'background':'url(/assets/perudo/die-'+die.value+'.png)'}">
        </button>
    </div>
    <div class="chance" *ngIf="app.currentBid" title="the chance for this bid to hold true without knowing any dice">
      <button class="btn btn-danger bullshit" (click)="bullshit()" [disabled]="player != app.activePlayer"
        title="Call out {{app?.previousPlayer?.name}} for making a false claim!">
          Bullshit
      </button>
      {{app.getBlindChance() | percent}} (BlindChance)
    </div>
  </div>
  <div class="col-xs-6">
    <h3>Your bid</h3>
    <div class="row">
      <div class="bid-proposal" *ngFor="let bid of proposedBids">
        <button *ngIf="!app.currentBid"
          class="btn btn-success" 
          [disabled]="player != app.activePlayer"
          (click)="setInitialBid(bid)" 
          title="Choose this opening bid">
          Choose ({{app.getChanceForPlayer(player, bid) | percent}})
        </button>
        <button *ngIf="app.currentBid && bid.isPaco" 
          class="btn btn-success" 
          [disabled]="player != app.activePlayer"
          (click)="raiseValue(bid, 1)" 
          title="Paco the current bid">
          Paco ({{app.getChanceForPlayer(player, bid) | percent}})
        </button>
        <button *ngIf="app.currentBid && !bid.isPaco && bid.value > app?.currentBid?.value" 
          class="btn btn-success" 
          [disabled]="player != app.activePlayer"
          (click)="raiseQuantity(bid, 1)" 
          title="Raise the value of the current bid">
          Raise value ({{app.getChanceForPlayer(player, bid) | percent}})
        </button>
        <button *ngIf="app.currentBid && !app.currentBid.isPaco && !bid.isPaco && bid.quantity > app?.currentBid?.quantity" 
          class="btn btn-success"
          [disabled]="player != app.activePlayer"
          (click)="paco(bid)" 
          title="Raise the quantity of the current bid">
          Raise quantity ({{app.getChanceForPlayer(player, bid) | percent}})
        </button>
        <button *ngFor="let die of dice(bid)" class="die" disabled title="'{{die.value}}'"
          [ngStyle]="{'background':'url(/assets/perudo/die-'+die.value+'.png)'}">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary btn-lg reroll" *ngIf="isBullshit" (click)="reroll()">Reroll ({{rerollInSec}}s)</button>
  <div class="cup" [ngClass]="{'cup-lost-die': player == action?.playerWhoLostDie}">
      <button *ngFor="let die of player.dice" class="die" [ngClass]="{'rolling':player.isRolling, 'die-count': bullshittedBid && (die.value == bullshittedBid.value || die.value == 1)}" 
        disabled title="'{{die.value}}'"
        [ngStyle]="{'background':'url(/assets/perudo/die-'+die.value+'.png)'}">
      </button>
      <p class="mood" *ngIf="app.getChanceForPlayer(player) != undefined">
          {{app.getChanceForPlayer(player) | percent}} chance
      </p>
  </div>
</div>