
<table class="table">
    <!-- <thead>
        <tr>
            <th>Income</th>
            <th>Balance</th>
        </tr>
    </thead> -->
    <tbody>
        <tr>
            <td><img src="/assets/Income.png" style="width: 50px" title="Your current passive income"/> {{income}} x {{incomeModifier}} = {{incomeWithModifiers}}</td>
            <td><img src="/assets/Money.png" style="width: 50px" title="Your current score / balance"/> {{balance}}</td>
        </tr>
    </tbody>
    <tfoot *ngIf="income">
        Next income in {{incomeEverySeconds - elapsedSec % incomeEverySeconds}} sec... 
    </tfoot>
</table>