<div class="row">
  <div class="monsterlane">
    <div class="monster" *ngFor="let card of monsters; let i = index" [attr.data-index]="i">
      <button *ngIf="creatureBeingPlayed" class="btn btn-primary btn-lg" (click)="selectCreaturePlace(i)">Place</button>
      <button 
        id="card-{{card.name}}"
        (click)="selectCreature(card)"
        title="{{card.description}}"
        class="card"
        [ngClass]="{'flash': card.isFlash, 'active-card': card == cardBeingPlayed}"
        [ngStyle]="{'background': 'url(/assets/hearthstone/'+card.imageUrl+')'}">
        <span class="attacks-left">Attacks:{{card.attacksLeft}}</span>
      </button>
    </div>
    <div class="monster">
      <button *ngIf="creatureBeingPlayed" class="btn btn-primary btn-lg" (click)="selectCreaturePlace(monsters.length)">Place</button>
    </div>
  </div>
</div>